fish_add_path (go env GOPATH)/bin
fish_add_path $HOME/.local/bin

set -gx EDITOR nvim
set -gx AWS_PAGER ""

set -U fish_greeting ""

if status is-interactive
    {{- if eq .chezmoi.os "darwin" }}
    # Homebrew should come first for precedence
    /opt/homebrew/bin/brew shellenv | source
    abbr -a icd 'cd ~/Library/Mobile\ Documents/com\~apple\~CloudDocs'
    abbr --add typora open -a typora
    {{- end }}
    # Commands to run in interactive sessions can go here
    {{- if eq .chezmoi.os "linux" }}
    fish_add_path $HOME/.atuin/bin
    {{- end }}
    source (starship init fish --print-full-init | psub)
    set -Ux CARAPACE_BRIDGES 'zsh,fish,bash,inshellisense' # optional
    if command -q carapace; carapace _carapace | source; end
    if command -v atuin >/dev/null 2>&1
        atuin init fish | source
    end
    set -gx VISUAL "cursor --wait"
    if command -q pyenv; source (pyenv init - | psub); end
    if command -q zoxide; zoxide init fish | source; end
end
