set -gx XDG_CONFIG_HOME $HOME/.config
set -gx K9S_CONFIG_DIR $XDG_CONFIG_HOME/k9s

fish_add_path $HOME/.local/bin $HOME/bin
command -q go; and fish_add_path (go env GOPATH)/bin

set -gx EDITOR nvim
set -gx AWS_PAGER ""
set -q fish_greeting; or set -U fish_greeting ""

if status is-interactive
    fish_vi_key_bindings
    {{- if eq .chezmoi.os "darwin" }}
    /opt/homebrew/bin/brew shellenv fish | source
    abbr -a icd 'cd ~/Library/Mobile\ Documents/com\~apple\~CloudDocs'
    abbr --add typora open -a typora
    {{- end }}
    {{- if eq .chezmoi.os "linux" }}
    fish_add_path $HOME/.atuin/bin
    {{- end }}
    set -gx VISUAL "cursor --wait"
end
