# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Adam Wallis
	email = {{ get . "email" | default "adam@byte.fit" | quote }}
[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[include]
	path = ~/.config/delta/catppuccin.gitconfig
[delta]
	navigate = true
	features = catppuccin-mocha
