#!/usr/bin/env fish

# Trigger rerun when plugin list changes
# fish_plugins_sha256: {{ sha256sum (include "dot_config/fish/fish_plugins") }}

if not functions -q fisher
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source
    and fisher install jorgebucaran/fisher
end

# Install plugins listed in fish_plugins
set -l xdg (set -q XDG_CONFIG_HOME; and echo $XDG_CONFIG_HOME; or echo "$HOME/.config")
set -l plugin_file "$xdg/fish/fish_plugins"
if test -f "$plugin_file"
    for p in (cat "$plugin_file")
        if not contains -- $p (fisher list)
            fisher install $p
        end
    end
end
