#!/usr/bin/env bash
# TODO: Remove this script after it has run on all machines
# This removes the old fzf.fish config that was renamed to fzf_theme.fish
rm -f "{{ .chezmoi.homeDir }}/.config/fish/conf.d/fzf.fish"
