{{- if eq .chezmoi.os "darwin" }}
function ls --description 'eza with colors'
    eza --color=auto $argv
end
{{- else }}
function ls --description 'eza with colors'
    eza --color=auto $argv
end
{{- end }}
